.logo{
	width: 240px;
	margin: 23px auto;
}

#data_presenter thead th{
	text-align: center;
	vertical-align: middle !important;
}

.search_bar{
	margin-bottom: 15px;
}

#noOfRows{
	display: inline;
	width: auto;
}