[Desktop Entry]
Encoding=UTF-8
Name=Link to https://www.biobots.io/wp-content/themes/biobots/images/logo.png
Type=Link
URL=https://www.biobots.io/wp-content/themes/biobots/images/logo.png
Icon=image-png
Name[en_US]=logo.png
